*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Desktop */

html{
  background-color: #FAFAFA;
  color: #201313;
}

.container {
  width: 100%;
  height: auto;
  margin-top: 120px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* Navigation */
nav{
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  font-family: 'Muli', sans-serif;
  justify-content: space-between;
  min-height: 100px;
}

nav ul{
  display: inline-flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 24px;
  transition: .5s;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  color: indigo;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 12px;
}

nav ul li a:hover{
  text-decoration: overline;
  color: lavender;
}

.logo{
  margin-left: 32px;
}

/* Bio Text/Image */

section.bio-image{
  height: 300px;
  display: block;
  margin-top: 24px;
  margin-bottom: 32px;
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-image: url(../assets/images/bio-image.png);
}

section.bio-header p{
  text-align: center;
  color: indigo;
  width: 50%;
  font-family:'Shrikhand', sans-serif;
  margin-left: 24%;
  font-size: 54px;
}

section.second-header p{
  text-align: center;
  color: black;
  width: 50%;
  font-family:'Shrikhand', sans-serif;
  margin-left: 25%;
  font-size: 54px;
}

section.bio-text h3{
  color: indigo;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  text-transform: capitalize;
  margin-left: 25%;
  margin-bottom: 18px;
  margin-top: 54px;
}

section.bio-text p{
  font-family: 'SF Pro Display', sans-serif;
  font-size: 17px;
  line-height: 140%;
  padding-top: 0px;
  color: #060809;
  display: block;
  width: 50%;
  margin-left: 25%;
}

section.oprah-image{
  width: 15%;
  height: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:42px;
  margin-bottom:42px;
  background-repeat: no-repeat;
  background-image: url(../assets/images/oprah-image.png);
}

/* Footer */
footer{
  height: 110px;
  background-color: lavender;
  align-items: center;
}

footer ul{
  width: 14%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer ul li{
  color: indigo;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  text-decoration: none;
  list-style: none;
  letter-spacing: 3px;
  font-size: 32px;
}

footer ul li a{
  color: indigo;
  display: block;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  list-style: none;
  letter-spacing: 3px;
  font-size: 36px;
}

footer ul li a:hover{
  text-decoration: overline;
  color: white;
}

footer p{
  color: indigo;
  font-family:'SF Pro Display', sans-serif;
  font-size: 16px;
  margin-top: 12px;
  text-decoration: none;
  text-align: center;
  display: block;
  }


/* Mobile */

@media only screen and (min-width: 360px) and (max-width: 412px){

  html{
    height: auto;
  }

  .container{
    margin-top: 170px;
  }

  .logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
    margin-top: 24px;
  }

  nav{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    nav height: 40px;
  }

  nav ul{
    width: 70%;
    margin-left: 42px;
  }

  nav ul li {
    margin-right: 28px;
    text-align: center;
  }

    section.bio-image{
      height: 250px;
      display: block;
      margin-bottom: 32px;
      width: 70%;
      margin-left: 60px;
      background-repeat: no-repeat;
      background-image: url(../assets/images/mobile-bio-image.png);
    }

    section.bio-header p{
      font-size: 42px;
      width: 75%;
      margin-right: auto;
      margin-left: auto;
      line-height: 48px;
      display: block;
    }

    section.second-header p{
      font-size: 42px;
      width: 75%;
      margin-right: auto;
      margin-left: auto;
      display: block;
      line-height: 48px;
    }

    section.bio-text{
      margin-left: -100px;
      width: 150%;
      display: block;
    }

    section.bio-text h3{
      width: 41%;
      line-height: 130%;
    }

    section.oprah-image{
      height: 175px;
      display: block;
      margin-top: 24px;
      margin-bottom: 32px;
      width: 48%;
      margin-right: auto;
      margin-left: auto;
      background-repeat: no-repeat;
      background-image: url(../assets/images/oprah-image.png);
    }

  footer ul {
    width: 42%;
    margin-left: 124px;
  }

  footer ul li a{
    font-size: 28px;
  }

  footer p{
    font-size: 14px;
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 770px){

  .logo{
    margin-left: 28px;
  }

nav ul li{
  margin-right: 72px;
}
  section.bio-image{
    height: 250px;
    display: block;
    margin-top: 150px;
    margin-bottom: 32px;
    width: 34%;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-image: url(../assets/images/mobile-bio-image.png);
  }

  section.bio-header p{
    font-size: 42px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  section.second-header p{
    font-size: 42px;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  section.bio-text{
    margin-left: -50px;
    width: 115%;
    display: block;
  }

  section.bio-text h3{
    width: 41%;
    line-height: 130%;
  }

section.oprah-image{
    height: 175px;
    display: block;
    margin-top: 24px;
    margin-bottom: 32px;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    background-image: url(../assets/images/oprah-image.png);
  }

  footer ul {
    width: 22%;
    padding-top: 4px;
  }

  footer ul li a{
    font-size: 36px;
  }

  footer p{
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
  }
}
